# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy container app to Azure Web App - doagent

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read #This is required for actions/checkout

    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to container registry
        uses: docker/login-action@v2
        with:
          registry: docagentreg.azurecr.io/
          username: ${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_AB49C7B2B8D447BEAA2EADF93FFD0884 }}
          password: ${{ secrets.AZUREAPPSERVICE_CONTAINERPASSWORD_FC72B1A4351F42008989FABEA8CD4E78 }}

      - name: Build and push container image to registry
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: docagentreg.azurecr.io/${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_AB49C7B2B8D447BEAA2EADF93FFD0884 }}/document-agent-app:${{ github.sha }}
          file: ./Dockerfile

  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write #This is required for requesting the JWT
      contents: read #This is required for actions/checkout

    needs: build
    
    steps:
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_0EE6E36E21B34567BB98EC4553C2E194 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_62DA6157FDFF44E495D75D2BB6642E6A }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_27C363C505474C8583BAA6BD18077A0E }}

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'doagent'
          slot-name: 'Production'
          images: 'docagentreg.azurecr.io/${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_AB49C7B2B8D447BEAA2EADF93FFD0884 }}/document-agent-app:${{ github.sha }}'
          